 <header class="text-gray-600 body-font">
  <div class="container mx-auto bg-black flex flex-wrap p-5 flex-col md:flex-row items-center" style="padding: 1.5rem 2.5rem;">
    <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
     <img src="/logo.png" alt="" style="width: 2rem;">
      {{!-- <span class="ml-3 text-xl">User Authorization</span> --}}
    </a>  
    <a href="sign" class="ml-auto mr-3 inline-flex items-center bg-black text-white border-0 py-1 px-3 focus:outline-none hover:bg-white hover:text-black rounded text-base mt-4 md:mt-0">Register
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
    <a href="log" class="ml-4 mr-8 inline-flex items-center bg-black text-white border-0 py-1 px-3 focus:outline-none hover:bg-white hover:text-black rounded text-base mt-4 md:mt-0">Log In
      <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-1" viewBox="0 0 24 24">
        <path d="M5 12h14M12 5l7 7-7 7"></path>
      </svg>
    </a>
  </div>
</header>