<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>404 Page Found</title>
  <link rel="stylesheet" href="/index.css">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>          
    {{>navbar}}
     <div class="full_flexy">
        <div class="flexy">    
            <img src="/error.png" alt="" class="w-96 mt-10">      
            <a href="/" class="bg-black text-indigo-200 hover:bg-zinc-800 hover:rounded-lg hover:text-indigo-500 flex justify-center items-center" style="margin-top: 1.2rem; width: 8rem; height: 2.3rem;">Home</a>          
        </div>
    </div>    
</body>
</html>