<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to User Authorization App</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
   {{>navbar}}   
   <div class="full_flexy">
    <div class="flexy">
        <h1 style="font-size: 2rem;">Welcome To</h1>
        <h3 style="font-size: 2.5rem;"><span style="color: #4169e1; font-family:Verdana, Geneva, Tahoma, sans-serif; font-weight:bold">User Authorization </span>App</h3>
        <a href="sign" class="home_btn bg-black text-indigo-200 hover:text-indigo-500 hover:bg-zinc-800 hover:rounded-lg flex justify-center items-center">Get Started</a>
    </div>
   </div>
</body>
</html>