<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Try Again</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/index.css">
</head>
<body>
    {{>navbar}}
     <div class="full_flexy">
        <div class="flexy">
            <p style="font-size: 1.5rem;">Please write same</p>
            <p style="font-size: 1.7rem;" class="text-indigo-500">passwords in both fields to register</p>           
            <a href="sign" class="bg-black text-indigo-200 hover:bg-zinc-800 hover:rounded-lg hover:text-indigo-500 flex justify-center items-center" style="margin-top: 1.2rem; width: 9rem; height: 2.3rem;">Go Back</a>
        </div>
    </div>       
</body>
</html>