* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.form-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 1.5rem;
}

.relative {
    position: relative;
    margin-top: 1rem;
}

.label {
    line-height: 1.05rem;
    font-size: 0.8rem;
    color: rgb(75 85 99);
    font-weight: bold;
}

.input {
    width: 100%;
    background-color: rgb(241, 240, 238);
    border-radius: 0.25rem;
    outline: none;
    border: none;
    color: rgb(75 85 99);
    padding: 0.25rem 0.75rem;   
    line-height: 1.25rem;
    transition: color 200ms ease-in-out;
    font-size: 0.9rem;
}

.btn {
    width: 8.5rem;
    height: 2.6rem;
    border: none;
    color: white;
    margin-top: 1rem;
    font-size: 1rem;
    cursor: pointer;
}

.form-btn {
    text-align: center;
    margin-top: 0.3rem;
}

.full {
    width: 100%;
    height: 35.5rem;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.full_center {
    width: 70%;
    height: 30.5rem;  
    background-color: white;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
}

.blue {
    width: 50%;
    background-color: #9bddff;
    height: 30rem;
    margin-left: 1.5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.head_element {
    margin-left: 1rem;
    color: black;
    margin-top: 0.5rem;
}

.form {
    width: 45%;
    background-color: white;
    height: 28.5rem;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    display: flex;
    border-top-left-radius: 1rem;
}

.image {
    width: 55%;
    height: 30.5rem;
    background-image: url("/img.png");
    opacity: 0.7;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Home */

.full_flexy {
    width: 100%;
}

.flexy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 25rem;
    flex-direction: column;
    margin-top: 2rem;
}

.home_btn {
    margin-top: 3rem;    
    width: 7rem;
    height: 2.4rem;
}

/* Log In */

.image2 {
    width: 55%;
    height: 30.5rem;
    background-image: url("/log.jpg");
    opacity: 1;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
}

/* After Log */

